*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.sectionAddNewIssue, .sectionIssues{
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
}
#lblStatus{
    border-radius: 5px;
}
